<div class="comment">
    <div class="comment__top">
        <div class="comment__sort">
            Комментарии 15
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-right"></use>
            </svg>
        </div>

        <div class="comment__settings">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-settings"></use>
            </svg>
        </div>
    </div>

    <form action="">
        <img src="img/banner2.png" alt="">

        <div class="form-group">
            <input type="text" placeholder="Введите сообщение">

            <div class="comment__controls">
                <div>
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-clip"></use>
                    </svg>
                </div>
                <div>
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-smile"></use>
                    </svg>
                </div>
            </div>
        </div>
    </form>

    <div class="comment__item">
        <img src="img/comment.png" alt="">
        <div>
            <div class="comment__text">Супер вау круто </div>
            <div class="comment__bottom">
                <div class="comment__date">вчера в 7:24</div>
                <div class="comment__answer">Ответить</div>
            </div>

            <form action="" class="comment__answer">
                <div class="input">
                    <input type="text" placeholder="Напишите ответ">
                </div>
                <button class="btn">Ответить</button>
            </form>

            <div class="comment__item">
                <img src="img/comment.png" alt="">
                <div>
                    <div class="comment__text">Приятно, граждане, наблюдать, как некоторые особенности
                        внутренней
                        политики призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою очередь,
                        должны быть
                        функционально разнесены на&nbsp;независимые элементы.</div>
                    <div class="comment__bottom">
                        <div class="comment__date">вчера в 7:24</div>
                        <div class="comment__answer">Ответить</div>
                    </div>
                </div>
            </div>
            <div class="comment__item">
                <img src="img/comment.png" alt="">
                <div>
                    <div class="comment__text">Приятно, граждане, наблюдать, как некоторые особенности
                        внутренней
                        политики призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою очередь,
                        должны быть
                        функционально разнесены на&nbsp;независимые элементы.</div>
                    <div class="comment__bottom">
                        <div class="comment__date">вчера в 7:24</div>
                        <div class="comment__answer">Ответить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment__item">
        <img src="img/comment.png" alt="">
        <div>
            <div class="comment__text">Приятно, граждане, наблюдать, как некоторые особенности
                внутренней
                политики призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою очередь, должны
                быть
                функционально разнесены на&nbsp;независимые элементы.</div>
            <div class="comment__bottom">
                <div class="comment__date">вчера в 7:24</div>
                <div class="comment__answer">Ответить</div>
            </div>
            <div class="comment__item">
                <img src="img/comment.png" alt="">
                <div>
                    <div class="comment__text">Приятно, граждане, наблюдать, как некоторые особенности
                        внутренней
                        политики призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою очередь,
                        должны быть
                        функционально разнесены на&nbsp;независимые элементы.</div>
                    <div class="comment__bottom">
                        <div class="comment__date">вчера в 7:24</div>
                        <div class="comment__answer">Ответить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>