<a href="javascript:void(0)" class="company">
    <div class="company__top">
        <img src="img/fendi.png" alt="">
        <div class="more w-30">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-arrow-right-bold"></use>
            </svg>
        </div>
    </div>

    <div class="company__name">Название компании название компании</div>
    <div class="company__text">Если вы находитесь в поиске работы, связанной с HR направлением, то вы можете </div>
    <div class="company__desc">Если вы находитесь в поиске работы, связанной с HR </div>
</a>