<a href="javascript:void(0)" class="doc">
    <div class="doc__icon">
        <svg class="icon blue">
            <use xlink:href="img/symbol-defs.svg#icon-book"></use>
        </svg>
    </div>
    <div>
        <div class="doc__title">Консультация с широким активом оказалась ошибочной онсультация с широким активом </div>
        <div class="doc__text">
            Консультация с широким активом оказалась
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-arrow-right-bold"></use>
            </svg>
        </div>
    </div>
</a>