<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <div class="footer__logo">
                <a href="/" class="header__logo">
                    <img src="img/logo-new-white.svg" width="115" alt="">
                </a>

                <div class="footer__text">Разработанная стратегия маркетинга, <br> которая привела 3000 заявок <br>
                    с конверсией 40% в покупку</div>

                <div class="social line">
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-fb-square"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-vk"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-youtube"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-inst"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__col">
            <form class="footer__subscribe">
                <div class="footer__title">Подписаться</div>
                <div class="footer__text">Разработанная стратегия маркетинга, <br> которая привела 3000 заявок</div>
                <div class="input white">
                    <input type="text" placeholder="Email">
                </div>
                <button class="btn">Подписаться</button>
            </form>
        </div>
        <div class="footer__col">
            <div class="footer__menu">
                <div>
                    <div class="footer__title">Поддержка</div>
                    <ul class="dot">
                        <li><a href="javascript:void(0)">Поддержка</a></li>
                        <li><a href="javascript:void(0)">Информация</a></li>
                        <li><a href="javascript:void(0)">Комьюнити</a></li>
                        <li><a href="javascript:void(0)">Чтото еще</a></li>
                    </ul>
                </div>
                <div>
                    <div class="footer__title">Поддержка</div>
                    <ul class="dot">
                        <li><a href="javascript:void(0)">Поддержка</a></li>
                        <li><a href="javascript:void(0)">Информация</a></li>
                        <li><a href="javascript:void(0)">Комьюнити</a></li>
                        <li><a href="javascript:void(0)">Чтото еще</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

{% include "template/modals.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.daterangepicker.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>