<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <link rel="stylesheet" href="css/daterangepicker.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="hamburger"><span></span></div>
            <a href="/" class="header__logo">
                <img src="img/logo-new.svg" width="115" alt="">
            </a>
            <form class="header__search">
                <div class="input">
                    <input type="text" placeholder="Поиск...">
                </div>
                <button>
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
            </form>
            <div class="header__login">
                <a href="javascript:void(0)">Войти</a>
                <a href="javascript:void(0)" class="btn">Зарегистрироваться</a>
            </div>
        </div>
    </header>

    <section class="menu">
        <div class="container">
            <div class="menu__wrap">
                <a href="javascript:void(0)">Работодателям</a>
                <div>
                    <div class="menu__parent">Услуги</div>
                    <div class="menu__dropdown">
                        <a href="javascript:void(0)">Услуги</a>
                        <a href="javascript:void(0)">Для компании</a>
                        <a href="javascript:void(0)">Для HR департамента </a>
                        <a href="javascript:void(0)">Размещение вакансий</a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-lightning"></use>
                            </svg>
                            Найти работу через нас
                        </a>
                    </div>
                </div>
                <a href="javascript:void(0)">Документы</a>
                <a href="javascript:void(0)">Вопрос/Ответ</a>
                <a href="javascript:void(0)">Глоссарий</a>
                <a href="javascript:void(0)">Рейтинги</a>
                <a href="javascript:void(0)">Тесты</a>
                <a href="javascript:void(0)">Форум</a>
                <a href="javascript:void(0)">Компании</a>
                <a href="javascript:void(0)">Промо-коды</a>
                <a href="javascript:void(0)">Магазин</a>
                <a href="javascript:void(0)">Подкасты</a>
            </div>
        </div>
    </section>

    <section class="submenu">
        <div class="container">
            <a href="javascript:void(0)" class="submenu__main">
                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-fire"></use>
                </svg>
                Карьера и вакансии
            </a>
            <div class="submenu__menu">
                <a href="javascript:void(0)">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-calendar"></use>
                    </svg>
                    Мероприятия
                </a>
                <a href="javascript:void(0)">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-school"></use>
                    </svg>
                    Академия
                </a>
                <a href="javascript:void(0)">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-user"></use>
                    </svg>
                    Эксперты
                </a>
                <a href="javascript:void(0)">
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-mac"></use>
                    </svg>
                    HR IT
                </a>
            </div>
            <div class="submenu__text">Вебинар по стратегии <br> HR бренда... </div>
            <a href="javascript:void(0)" class="btn btn-gradient">
                <span>
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-play"></use>
                    </svg>
                    HR Life
                </span>
            </a>
        </div>
    </section>