<a href="javascript:void(0)" class="solve">
    <div class="solve__img">
        <img src="img/yva.png" alt="">
    </div>

    <div class="solve__body">
        <div class="solve__title">Управленческое консультирование</div>
        <div class="solve__text">Разработанная стратегия маркетинга, которая привела 3000 заявок с конверсией 40% в
            покупку за 2 месяца</div>
        <div class="solve__bottom">
            <div class="tags">
                <div>Менеджмент</div>
                <div>HR бренд</div>
            </div>
            <div class="more w-30">
                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-arrow-right-bold"></use>
                </svg>
            </div>
        </div>
    </div>
</a>