<a href="javascript:void(0)" class="survey sidebar-border">
    <div class="survey__top">
        <img src="img/test.png" alt="">
        <div class="survey__title">Тест по оказанию первой медицинской помощи
            медицинской помощи</div>
    </div>
    <div class="survey__bottom">
        <div class="tags">
            <div></div>
            <div>Опросы</div>
        </div>
        <div class="item__bottom">
            <div class="item__bottom-item">
                <svg class="icon">
                    <use xlink:href="img/symbol-defs.svg#icon-eye"></use>
                </svg>
                268
            </div>
        </div>
        <div class="more w-30">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-arrow-right-bold"></use>
            </svg>
        </div>
    </div>
</a>