<div class="text">
    <h2>Roistat обеспечивает максимальную защиту ваших данных.</h2>
    <h3>Roistat обеспечивает максимальную защиту ваших данных.</h3>
    <h4>Roistat обеспечивает максимальную защиту ваших данных.</h4>
    <h5>Roistat обеспечивает максимальную защиту ваших данных.</h5>
    <h6>Roistat обеспечивает максимальную защиту ваших данных.</h6>

    <p><a href="javascript:void(0)">Roistat обеспечивает максимальную защиту</a> ваших данных. Сервис
        расположен на множестве серверов в разных странах мира для большей надежности и обеспечения
        сохранности данных. Roistat обеспечивает максимальную защиту ваших данных. Сервис расположен на
        множестве серверов в разных странах мира для большей надежности и обеспечения сохранности данных.
        Roistat обеспечивает максимальную защиту ваших </p>

    <div class="tip">Читать еще: «Основы медиапланирования в контекстной рекламе: главные шаги»</div>

    <p><a href="javascript:void(0)">Roistat обеспечивает максимальную защиту</a> ваших данных. Сервис
        расположен на множестве серверов в разных странах мира для большей надежности</p>

    <ol>
        <li>Нужно оптимизировать рекламу в Директе.</li>
        <li>Если можно добавить больше эффективного трафика в Google за счет низкоэффективного в Яндексе,
            нужно уже сейчас изменить структуру бюджета
            по площадкам.
        </li>
        <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно по каждому
            элементу: картинке, тексту, призыву к действию.</li>
    </ol>

    <p><a href="javascript:void(0)">Roistat обеспечивает максимальную защиту</a> ваших данных. Сервис
        расположен на множестве серверов в разных странах мира для большей надежности</p>


    <ul class="dot">
        <li>Нужно оптимизировать рекламу в Директе.</li>
        <li>Если можно добавить больше эффективного трафика в Google за счет низкоэффективного в Яндексе,
            нужно уже сейчас изменить структуру бюджета
            по площадкам.
        </li>
        <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно по каждому
            элементу: картинке, тексту, призыву к действию.</li>
        <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно </li>
    </ul>

    <table>
        <tr>
            <th>Имя</th>
            <th>Имя</th>
            <th>Имя</th>
            <th>Имя</th>
        </tr>
        <tr>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
        </tr>
        <tr>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
        </tr>
        <tr>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
        </tr>
        <tr>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
        </tr>
        <tr>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
        </tr>
        <tr>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
            <td>Таблица</td>
        </tr>
    </table>
</div>