<section class="section work">
    <img src="img/work-bg.png" alt="" class="work__img">

    <div class="container">
        <img src="img/work-circle.png" alt="" class="work__circle">

        <div>
            <h2>
                <svg class="icon yellow">
                    <use xlink:href="img/symbol-defs.svg#icon-lightning"></use>
                </svg>
                Трудоустройство
            </h2>
            <div class="work__text">Если вы находитесь в поиске работы, связанной <br>
                с HR направлением, то вы можете оставить <br>
                заявку и подгрузить ваше резюме. </div>
            <div class="work__desc">Мы уведомим вас о появлении новых вакансий под <br> вашу HR специальность. Если вы в
                поисках работы <br> открыто, не анонимно, то мы также отправим <br> информацию о вас компаниям, которые
                находятся <br>
                в поиске аналогичного специалиста.
            </div>
        </div>
        <form>
            <div class="input white">
                <input type="text" placeholder="Имя">
            </div>
            <div class="input white">
                <input type="text" placeholder="Телефон">
            </div>
            <div class="input white">
                <input type="text" placeholder="Email">
            </div>
            <div class="input white">
                <input type="text" placeholder="Должность">
            </div>
            <div class="work__controls">
                <div class="clip">
                    <input type="file">
                    <div class="clip__cover">
                        <svg class="icon yellow">
                            <use xlink:href="img/symbol-defs.svg#icon-clip"></use>
                        </svg>
                        <div>
                            <span>Загрузить резюме</span>
                            5мб
                        </div>
                    </div>
                </div>
                <button class="btn">Отправить</button>
            </div>
        </form>
    </div>
</section>