.header {
    @include r(1023) {
        position: relative;
        z-index: 32;
        background: #fff;
        padding: 7px 0;
    }

    padding: 27px 0 19px;
    border-bottom: 1px solid #d2dbe3;

    .container {
        @include r(767) {
            position: relative;
        }

        @include fcn;
    }

    &__logo {
        @include r(1023) {
            flex-shrink: 0;
        }

        font-weight: 700;
        font-size: 16px;
        transition: $trans;
        @include fcn;

        &:hover {
            color: $blue;

            span {
                color: $blue;
            }

            .icon {
                fill: $blue;
            }
        }

        .icon {
            margin-right: 8px;
            font-size: 28px;
            transition: $trans;
        }

        span {
            margin-right: 5px;
            transition: $trans;
        }
    }

    &__search {
        @include r(1023) {
            padding-right: 0;
            margin-right: 0;
            border: 0;
        }

        margin-left: auto;
        @include fce;
        width: 50%;
        padding-right: 19px;
        margin-right: 25px;
        border-right: 1px solid $gray;

        &.active .input {
            @include r(767) {
                left: 0;
                width: auto;
            }

            width: 100%;
        }

        button {
            cursor: pointer;
            @include fcc;
            margin-left: 15px;

            &:hover .icon {
                fill: $blue;
            }
        }

        .icon {
            fill: #696969;
            font-size: 24px;
            transition: $trans;
        }

        .input {
            @include r(767) {
                position: absolute;
                right: 60px;
                bottom: 0;
                background: #fff;
                z-index: 50;
                height: 55px;
                @include fcc;
                padding-left: 20px;

                &::before {
                    display: none;
                }

                input {
                    position: relative;
                    top: 5px;
                }
            }

            width: 0;
            transition: $trans;
        }
    }

    &__login {
        @include r(1023) {
            flex-direction: column;
            border-top: 1px solid $gray;
            padding-top: 20px;
            padding-bottom: 30px;
            display: none;
        }

        @include fcn;

        a {
            @include r(1023) {
                width: 187px;
                @include fcc;
                padding: 8px 16px;
            }

            font-weight: 600;

            &:not(.btn) {
                @include r(1023) {
                    border: 1px solid #fff;
                }

                &:hover {
                    color: $blue;
                }
            }
        }

        .btn {
            @include r(1023) {
                margin-left: 0;
                margin-top: 15px;
                color: $text;
            }

            margin-left: 22px;
        }
    }

    &__user {
        position: relative;
    }

    &__toggle {
        @include fcn;
        cursor: pointer;
        user-select: none;

        & > img {
            width: 36px;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 8px;
        }

        & > .icon {
            fill: $gray;
            font-size: 12px;
            transform: rotate(90deg);
        }
    }

    &__dropdown {
        position: absolute;
        bottom: -41px;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        right: 0;
        transform: translateY(100%);
        z-index: 3;
        background: #ffffff;
        box-shadow: 0px 12px 15px rgba(57, 57, 57, 0.2);
        width: 310px;
        padding: 20px;
        transition: $trans;

        &.active {
            opacity: 1;
            pointer-events: all;
            bottom: -21px;
        }
    }

    &__info {
        @include fcn;
        background: #f6faff;
        padding: 16px 14px;
        margin-bottom: 13px;

        img {
            width: 44px;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 12px;
        }
    }

    &__email {
        display: block;
        font-weight: 500;
        font-size: 12px;
        color: $gray;
        margin-bottom: 8px;
        transition: $trans;

        &:hover {
            color: $blue;
        }
    }

    &__phone {
        display: block;
        font-weight: 500;
        font-size: 12px;
        color: $gray;
        transition: $trans;

        &:hover {
            color: $blue;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 8px;
    }

    &__link {
        display: block;
        @include fcn;
        transition: $trans;
        padding: 10px 20px;
        margin-left: -20px;
        width: calc(100% + 40px);

        &:hover {
            background: #f6faff;
        }

        .icon {
            fill: $yellow;
            font-size: 18px;
            margin-right: 11px;
        }
    }

    &__notification {
        position: relative;
        margin-right: 33px;

        &-wrap {
            cursor: pointer;
        }

        &-tip {
            position: absolute;
            bottom: -44px;
            right: 0;
            transform: translateY(100%);
            background: #f6faff;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
            padding: 19px 30px;
            font-weight: 500;
            line-height: 1.4;
            width: 265px;
            z-index: 3;
            transition: $trans;
            opacity: 0;
            pointer-events: none;
            user-select: none;

            a {
                display: block;
                color: $blue;
                text-decoration: underline;
                margin-top: 7px;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                opacity: 1;
                pointer-events: all;
                user-select: initial;
                bottom: -24px;
            }
        }

        &:hover .icon {
            fill: $blue;
        }

        span {
            font-size: 11px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $yellow;
            @include fcc;
            line-height: 0;
            font-weight: bold;
            position: absolute;
            top: -4px;
            right: -9px;
            border: 2px solid #fff;
        }

        .icon {
            font-size: 26px;
            transition: $trans;
            fill: $gray;
        }
    }
}

.hamburger {
    @include r(1023) {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: block;
        @include fcc;
    }

    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 21;
    margin-right: 10px;
    margin-left: -10px;

    &.active,
    &.active:hover {
        span {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
                transition: top 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s;
            }
        }
    }

    span {
        width: 20px;
        height: 2px;
        background: $yellow;
        position: absolute;
        top: 18px;
        transition: background 0.2s ease-in-out 0.1s;
        pointer-events: none;
        user-select: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: $yellow;
            left: 0;
        }

        &::before {
            top: -7px;
            transition: top 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out;
        }

        &::after {
            bottom: -7px;
            transition: bottom 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out;
        }
    }
}

.menu {
    @include r(1023) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background: $text;
        width: 297px;
        z-index: 31;
        color: #fff;
        padding-top: 75px;
        overflow-y: scroll;
        padding-left: 30px;
        transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transform: translateX(-100%);

        .container {
            padding: 0;
        }

        .submenu__menu,
        .submenu__main {
            display: block;
        }

        .header__login {
            display: flex;
        }
    }

    &.active {
        transform: translateX(-30px);
    }

    &__wrap {
        @include r(1345) {
            @include fcsb;
        }

        @include r(1023) {
            flex-direction: column;
            @include fsn;
            margin-left: 0;
        }

        margin-left: -14px;
        @include fcn;

        & > div,
        a {
            @include r(1345) {
                padding: 21px 14px;
            }

            @include r(1279) {
                padding: 16px 7px;
                font-size: 12px;
            }

            @include r(1023) {
                width: 100%;
                padding: 9px 15px;
            }

            padding: 21px 15px;
            transition: $trans;
            display: inline-block;
            position: relative;
            cursor: pointer;

            &:hover {
                background: #f0f3f8;
                color: $text;

                .menu__dropdown {
                    opacity: 1;
                    bottom: 0;
                    pointer-events: all;
                    user-select: initial;
                }
            }
        }
    }

    &__dropdown {
        position: absolute;
        bottom: -20px;
        left: 0;
        transform: translateY(100%);
        z-index: 2;
        background: #fff;
        box-shadow: 0px 12px 15px rgba(57, 57, 57, 0.2);
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transition: $trans;

        a {
            padding: 9px 15px;
            @include fcn;
        }

        .icon {
            font-size: 11px;
            fill: $yellow;
            margin-right: 6px;
        }
    }
}

.submenu {
    @include r(1023) {
        padding: 12px 0;

        & + .section {
            padding-top: 20px;
        }
    }

    padding: 17px 0;
    background: #272a31;
    color: #fff;

    & + .triggers {
        margin-top: 30px;
        margin-left: 16px;
        margin-bottom: 0;
    }

    .container {
        @include r(767) {
            @include fcsb;
        }

        @include fcn;
    }

    &__main {
        @include r(1279) {
            font-size: 16px;
            padding-right: 15px;
            margin-right: 15px;
        }

        @include r(1023) {
            margin-right: 0;
            padding-right: 15px;
            padding-left: 15px;
            border-right: 0;
            border-top: 1px solid $gray;
            padding-top: 20px;
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 14px;
            display: none;
        }

        font-weight: 700;
        @include fcn;
        padding-right: 26px;
        margin-right: 26px;
        transition: $trans;
        border-right: 1px solid $gray;
        font-size: 18px;
        flex-shrink: 0;

        &:hover {
            color: $yellow;
        }

        .icon {
            fill: $red;
            font-size: 21px;
            margin-right: 7px;
            transition: $trans;
        }
    }

    &__menu {
        @include r(1023) {
            flex-direction: column;
            @include fsn;
            margin-right: 0;
            border: 0;
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 5px;
            display: none;
        }

        @include fcn;
        border-right: 1px solid $gray;
        margin-right: 25px;

        a {
            @include r(1345) {
                margin-right: 2.3vw;
            }

            @include r(1279) {
                font-size: 14px;
                margin-right: 1.3vw;
                flex-shrink: 0;
            }

            @include r(1023) {
                width: 100%;
                margin-bottom: 20px;
            }

            @include fcn;
            transition: $trans;
            margin-right: 2.6vw;
            font-size: 18px;

            .icon {
                @include r(1279) {
                    font-size: 18px;
                }

                font-size: 20px;
                fill: $yellow;
                margin-right: 10px;
            }

            &:hover {
                color: $yellow;
            }
        }
    }

    &__text {
        @include r(1279) {
            flex-shrink: 0;
            font-size: 12px;
        }

        @include r(767) {
            margin-left: 0;
        }

        line-height: 1.4;
        margin-right: 20px;
        margin-left: auto;
    }

    .btn {
        @include r(1279) {
            flex-shrink: 0;
        }

        padding: 8px 20px;
    }
}
