{% include "template/header.html" %}

{% import "template/sidebar/banner.html" as banner %}

<section class="content">
    <div class="container">
        <div class="sidebar left">
            {% include "template/sidebar/menu.html" %}
            {{ banner.item('banner.png', 'Рекламный баннер') }}

            <h2>Акции</h2>
            {% include "template/stock.html" %}
            {% include "template/stock.html" %}

            <h2>Книги</h2>
            {% include "template/book.html" %}

            <h2>Материалы</h2>
            {% include "template/book.html" %}
            {% include "template/book.html" %}
            {% include "template/book.html" %}
        </div>
        <div class="content__main">
            <div class="breadcrumbs">
                <a href="javascript:void(0)"><span>Главная</span></a>
                <a href="javascript:void(0)"><span>Материалы и гайды</span></a>
            </div>

            <h2>Документы</h2>

            <p>Если вы находитесь в поиске работы, связанной с HR направлением, то вы можете оставить заявку и
                подгрузить ваше резюме <a href="javascript:void(0)">Читать далее</a></p>

            <div class="grid two">
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
                {% include "template/doc.html" %}
            </div>

            <div class="divider"></div>

            {% include "template/text.html" %}
        </div>
    </div>
</section>

{% include "template/footer.html" %}