{% include "template/header.html" %}

{% import "template/sidebar/banner.html" as banner %}
{% import "template/sidebar/subscribe.html" as subscribe %}
{% import "template/sidebar/time.html" as time %}
{% import "template/item.html" as item %}
{% import "template/article.html" as article %}
{% import "template/title.html" as title %}
{% import "template/expert.html" as expert %}
{% import "template/vacancy-item.html" as vacancy %}

<section class="content">
    <div class="container">
        <div class="sidebar left">
            {% include "template/sidebar/menu.html" %}
            {{ banner.item('banner.png', 'Рекламный баннер') }}

            <h2>Акции</h2>
            {% include "template/stock.html" %}
            {% include "template/stock.html" %}

            <h2>Книги</h2>
            {% include "template/book.html" %}

            <h2>Материалы</h2>
            {% include "template/book.html" %}
            {% include "template/book.html" %}
            {% include "template/book.html" %}
        </div>
        <div class="content__main">
            <div class="breadcrumbs">
                <a href="javascript:void(0)"><span>Главная</span></a>
                <a href="javascript:void(0)"><span>Материалы и гайды</span></a>
            </div>

            {% include "template/triggers.html" %}

            <h1 class="h2">Эксперт</h1>

            <div class="border-block user">
                <img src="img/user2.png" alt="" class="user__img">
                <div class="user__info">
                    <div class="user__name">Михаил Ворошилов</div>
                    <div class="user__work">UX дизайнер в компании компании/ <br>
                        Digital studio</div>
                    <div class="item__bottom">
                        <div class="item__bottom-item">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-eye"></use>
                            </svg>
                            268
                        </div>
                        <div class="item__bottom-item">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                            </svg>
                            1256
                        </div>
                        <div class="item__bottom-item like-parent">
                            <div class="like"></div>
                            2688
                        </div>

                        <div class="checkbox center">
                            <label for="c1">В избранное</label>
                            <input type="checkbox" id="c1">
                        </div>
                    </div>
                </div>
                <div class="user__contacts">
                    <div class="stars rating" data-count="4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.2 14">
                            <g class="active" data-star="1">
                                <path class="st0"
                                    d="M14.9 5.3l-5-.7L7.6 0 5.4 4.6l-5 .7L4 8.9 3.1 14l4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9L2 5.8l3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M9.6 5L7.6.9 5.6 5l-4.4.6 3.2 3.2-.7 4.5 3.9-2.1 4 2.1-.8-4.5 3.3-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="2">
                                <path class="st0"
                                    d="M33 5.3l-5-.7L25.7 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1L33 5.3zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M27.7 5l-2-4.1-2 4.1-4.4.6 3.2 3.2-.8 4.5 4-2.1 4 2.1-.8-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="3">
                                <path class="st0"
                                    d="M51.1 5.3l-5-.7L43.8 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M45.8 5l-2-4.1-2 4.1-4.4.6 3.2 3.2-.8 4.5 4-2.1 4 2.1-.8-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="4">
                                <path class="st0"
                                    d="M69.2 5.3l-5-.7L61.9 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M63.8 5L61.9.9l-2 4.1-4.5.6 3.2 3.2-.7 4.5 4-2.1 3.9 2.1-.7-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g data-star="5">
                                <path class="st0"
                                    d="M87.2 5.3l-5-.7L79.9 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M81.8 5L79.9.9l-2 4.1-4.5.6 3.2 3.2-.7 4.5 4-2.1 3.9 2.1-.7-4.5 3.2-3.2z">
                                </path>
                            </g>
                        </svg>
                    </div>

                    <div class="user__rating">Рейтинг: 1234</div>

                    <div class="social line gray">
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-fb-square"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-vk"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="tabs">
                <a href="javascript:void(0)" class="active" data-tab="expert">Эксперт</a>
                <a href="javascript:void(0)" data-tab="articles">Статьи (34)</a>
                <a href="javascript:void(0)" data-tab="video">Видео (12)</a>
                <a href="javascript:void(0)" data-tab="faq">Вопрос\ответ (123)</a>
                <a href="javascript:void(0)" data-tab="contacts">Контакты</a>
                <div class="bar"></div>
            </div>


            <div class="tab active" data-tab="expert">
                <h3>Описание</h3>
                <p>Roistat обеспечивает максимальную защиту ваших данных. Сервис расположен на множестве серверов в
                    разных странах мира для большей надежности и обеспечения сохранности данных. Roistat обеспечивает
                    максимальную защиту ваших данных. Сервис расположен на множестве серверов в разных странах мира для
                    большей надежности и обеспечения сохранности данных. Roistat обеспечивает максимальную защиту ваших
                </p>

                <ul class="dot">
                    <li>Нужно оптимизировать рекламу в Директе.</li>
                    <li>Если можно добавить больше эффективного трафика в Google за счет низкоэффективного в Яндексе,
                        нужно уже сейчас изменить структуру бюджета по площадкам.</li>
                    <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно по каждому
                        элементу: картинке, тексту, призыву к действию.</li>
                    <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно </li>
                </ul>

                <h3>Услуги</h3>

                <div class="features">
                    <div>
                        <span>Маркетинговая стратегия</span>
                        <span>от 15 000 ₽ / усл.</span>
                    </div>
                    <div>
                        <span>Продбор персонала в компании</span>
                        <span>от 15 000 ₽ / усл.</span>
                    </div>
                    <div>
                        <span>Маркетинговая стратегия</span>
                        <span>от 15 000 ₽ / усл.</span>
                    </div>
                    <div>
                        <span>Продбор персонала в компании</span>
                        <span>от 15 000 ₽ / усл.</span>
                    </div>
                    <div>
                        <span>Маркетинговая стратегия</span>
                        <span>от 15 000 ₽ / усл.</span>
                    </div>
                    <div>
                        <span>Продбор персонала в компании</span>
                        <span>от 15 000 ₽ / усл.</span>
                    </div>
                </div>
            </div>
            <div class="tab" data-tab="articles"></div>
            <div class="tab" data-tab="video"></div>
            <div class="tab" data-tab="faq"></div>
            <div class="tab" data-tab="contacts"></div>

            <div class="divider"></div>

            <h3>Статьи</h3>

            <div class="grid two">
                {{ item.item('Новость', 'icon', '', 'fire', '', 'a1.png', '3 вида биржевых трафиков как их
                читать и использовать при инвестирировании', 'tags-3') }}
                {{ item.item('статья', '', '', '', '', 'a2.png', '3 вида биржевых трафиков как их читать
                и использовать при') }}
                {{ item.item('интервью', 'icon', 'white', 'lightning', '', 'a3.png', '3 вида биржевых трафиков как их
                читать и использовать при инвестирировании ', 'tags-3') }}
                {{ item.item('кейс', '', '', '', '', 'a4.png', '3 вида биржевых трафиков как их читать и
                использовать при') }}
            </div>

            <h3>Видео</h3>

            <div class="grid two">
                {{ article.item('s1.png', '3 вида биржевых трафиков как их читать и использовать при
                инвестирировании')}}
                {{ article.item('s2.png', '3 вида биржевых трафиков как их читать и использовать при ')}}
                {{ article.item('s1.png', '3 вида биржевых трафиков как их читать и использовать при
                инвестирировании')}}
                {{ article.item('s2.png', '3 вида биржевых трафиков как их читать и использовать при ')}}
            </div>

            {% include "template/comment.html" %}
        </div>
        <div class="sidebar right">
            {{ time.item('Хотите получать вакансии этой рубрики? ', 'Просто подпишитесь на уведомления!', 'Отправить
            ссылку на почту', 'purple')}}
            {{ time.item('Отпарвить ссылку и карточку эксперта себе на почту', '', 'Отправить ссылку на почту')}}

            {{ title.item('', 'Эксперты:', 'Все') }}
            <div class="sidebar-border">
                {{ expert.item('user1.png', 'Александр Нежельский') }}
                {{ expert.item('user2.png', 'Александр Нежельский') }}
                {{ expert.item('user3.png', 'Александр Нежельский') }}
            </div>

            <h2>Тесты</h2>
            {% include "template/survey.html" %}

            {{ subscribe.item('sidebar-border', 'icon', 'События в HR, которые читает <br> вся Россия', 'divider',
            'Подпишись на нашу <br> рассылку, чтобы быть <br> первым в курсе всего', 'Email', 'Подписаться')}}
        </div>
    </div>
</section>

{% include "template/footer.html" %}