{% include "template/header.html" %}

<div class="pages">
    <div class="container">
        <h2>Страницы:</h2>

        <ul>
            <li><a href="main.html">Главная</a></li>
            <li><a href="article-list.html">Список статей</a></li>
            <li><a href="article.html">Статья</a></li>
            <li><a href="dictionary.html">Словарь терминов</a></li>
            <li><a href="catalog.html">Список товаров <span>[Модальное: Кнопка "Подбронее"]</a></li>
            <li><a href="experts.html">Список экспертов</a></li>
            <li><a href="vacancy-list.html">Список вакансий</a></li>
            <li><a href="vacancy-category.html">Категории вакансий</a></li>
            <li><a href="stock-list.html">Список акций <span>[Модальное: Кнопка "Получить"]</span></a></li>
            <li><a href="test-list.html">Список тестов</a></li>
            <li><a href="course-list.html">Список курсов</a></li>
            <li><a href="events.html">Список мероприятий</a></li>
            <li><a href="services-list.html">Список сервисов</a></li>
            <li><a href="company-list.html">Список компаний</a></li>
            <li><a href="docs-list.html">Список документов</a></li>
            <li><a href="vacancy.html">Вакансия</a></li>
            <li><a href="login.html">Авторизация</a></li>
            <li><a href="registration.html">Регистрация</a></li>
            <li><a href="reset.html">Восстановление пароля</a></li>
            <li><a href="verification.html">Верификация</a></li>
            <li><a href="request.html">Запрос на запись</a></li>
            <li><a href="friend.html">Пригласить друга</a></li>
            <li><a href="product.html">Карточка товара <span>[Модальное: Кнопка "Купить"]</span></a></li>
            <li><a href="faq.html">Вопрос/ответ <span>[Модальное: Кнопка "Перейти в карточку на сайте"]</span></a></li>
            <li><a href="company.html">Карточка компании</a></li>
            <li><a href="expert.html">Карточка эксперта</a></li>
            <li><a href="service.html">Карточка сервиса</a></li>
            <li><a href="profile.html">Профиль пользователя</a></li>
            <li><a href="docs.html">Документы</a></li>
            <li><a href="event.html">Карточка мероприятия</a></li>
            <li><a href="calendar.html">Календарь мероприятий</a></li>
            <li><a href="create.html">Написать статью <span>[Авторизованный пользователь]</span></a></li>
            <li><a href="history.html">История баллов</a></li>
            <li><a href="favorite.html">Избранное</a></li>
            <li><a href="video.html">Карточка видео</a></li>
            <li><a href="email.html">Рассылка</a></li>
            <li><a href="affiliate.html">Партнерская программа</a></li>
        </ul>
    </div>
</div>

{% include "template/footer.html" %}