{% include "template/header.html" %}

{% import "template/sidebar/banner.html" as banner %}
{% import "template/sidebar/subscribe.html" as subscribe %}
{% import "template/expert.html" as expert %}
{% import "template/title.html" as title %}
{% import "template/item.html" as item %}
{% import "template/article.html" as article %}
{% import "template/rubric.html" as rubric %}
{% import "template/vacancy-item.html" as vacancy %}

<div class="triggers">
    <div class="menu-trigger">
        Меню
        <svg class="icon">
            <use xlink:href="img/symbol-defs.svg#icon-right"></use>
        </svg>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="sidebar left">
            {% include "template/sidebar/menu.html" %}
            {{ banner.item('banner.png', 'Рекламный баннер') }}
        </div>
        <div class="content__main">
            <div class="slider">
                <div class="swiper slider__main">
                    <div class="swiper-wrapper">
                        <a href="javascript:void(0)" class="swiper-slide">
                            <img src="img/main-slide.png" alt="">
                        </a>
                        <a href="javascript:void(0)" class="swiper-slide">
                            <img src="img/main-slide.png" alt="">
                        </a>
                        <a href="javascript:void(0)" class="swiper-slide">
                            <img src="img/main-slide.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper slider__nav">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <span>Авторизуйтесь, чтобычтоб получить скидку</span>
                        </div>
                        <div class="swiper-slide">
                            <span>Страхование техники от утраты и тд</span>
                        </div>
                        <div class="swiper-slide">
                            <span>НR бренд. Как построить в фарм компании</span>
                        </div>
                    </div>
                </div>
            </div>

            {% include "template/sidebar/social.html" %}

            {{ title.item('fire', 'Новинки для чтения', 'Больше новинок') }}
            <div class="grid two">
                {{ item.item('Новость', 'icon', '', 'fire', '', 'a1.png', '3 вида биржевых трафиков как их
                читать и использовать при инвестирировании', 'tags-3') }}
                {{ item.item('статья', '', '', '', '', 'a2.png', '3 вида биржевых трафиков как их читать
                и использовать при') }}
                {{ item.item('интервью', 'icon', 'white', 'lightning', '', 'a3.png', '3 вида биржевых трафиков как их
                читать и использовать при инвестирировании ', 'tags-3') }}
                {{ item.item('кейс', '', '', '', '', 'a4.png', '3 вида биржевых трафиков как их читать и
                использовать при') }}
            </div>
        </div>
        <div class="sidebar right">
            {% include "template/sidebar/social.html" %}
            {{ subscribe.item('sidebar-border', 'icon', 'События в HR, которые читает <br> вся Россия', 'divider',
            'Подпишись на нашу <br> рассылку, чтобы быть <br> первым в курсе всего', 'Email', 'Подписаться')}}
            {{ banner.item('banner2.png', 'Рекламный <br> баннер 2', 'type') }}
        </div>
    </div>
</section>

<section class="section bg">
    <div class="container">
        {{ title.item('calendar', 'Мероприятия и конференции', 'Все события') }}

        <div class="grid three swiper-item">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ item.item('конференция', 'price', '', '', '25 000 ₽', 'a5.png', 'Тренинг “Запуск своего
                    собственного
                    онлайн-проекта', 'tags-2', 'online', 'user1.png', 'Ассоциация <br> HR-специалистов Москвы')}}
                </div>
                <div class="swiper-slide">
                    {{ item.item('мастер класс', 'price', '', '', '25 000 ₽', 'a6.png', 'Тренинг “Запуск своего
                    собственного онлайн-проекта Мероприятия и к онлайн-проекта Мероприятия и к', 'tags-2', 'online',
                    'nasa.png', 'Иванова Ксения')}}
                </div>
                <div class="swiper-slide">{{ item.item('конференция', 'price', '', '', '120 000 ₽ ', 'a7.png', 'Тренинг
                    “Запуск своего собственного
                    онлайн-проекта', 'tags-3', 'online', 'user1.png', 'Ассоциация <br> HR-специалистов Москвы')}}</div>
            </div>
        </div>
    </div>
</section>

<section class="content section">
    <div class="container">
        <div class="content__main">
            {{ title.item('school', 'Академия и обучение', 'Все видео') }}
            <div class="grid three">
                {{ article.item('s1.png', '3 вида биржевых трафиков как их читать и использовать при
                инвестирировании')}}
                {{ article.item('s2.png', '3 вида биржевых трафиков как их читать и использовать при ')}}
                {{ article.item('s3.png', 'Двуличный kpi как правильные показатели приводят к неправильным выводам')}}
                {{ article.item('s4.png', '3 вида биржевых трафиков как их читать и использовать при
                инвестирировании')}}
                {{ article.item('s5.png', '3 вида биржевых трафиков как их читать и использовать при ')}}
                {{ article.item('s6.png', 'Двуличный kpi как правильные показатели приводят к неправильным выводам')}}
            </div>
        </div>
        <div class="sidebar right">
            {{ title.item('user', 'Эксперты:', 'Все', '', 'mobile-flex') }}
            <div class="sidebar-border sidebar-experts swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{ expert.item('user1.png', 'Александр Нежельский') }}
                    </div>
                    <div class="swiper-slide">
                        {{ expert.item('user2.png', 'Александр Нежельский') }}
                    </div>
                    <div class="swiper-slide">
                        {{ expert.item('user3.png', 'Александр Нежельский') }}
                    </div>
                    <div class="swiper-slide">
                        {{ expert.item('user4.png', 'Александр Нежельский') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section mobile">
    <div class="container">
        {{ title.item('user', 'Эксперты:', 'Все', '', 'mobile-flex') }}
        <div class="sidebar-experts swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ expert.item('user1.png', 'Александр Нежельский') }}
                </div>
                <div class="swiper-slide">
                    {{ expert.item('user2.png', 'Александр Нежельский') }}
                </div>
                <div class="swiper-slide">
                    {{ expert.item('user3.png', 'Александр Нежельский') }}
                </div>
                <div class="swiper-slide">
                    {{ expert.item('user4.png', 'Александр Нежельский') }}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section bg">
    <div class="container">
        {{ title.item('blank', 'Рубрики нашей академии', 'Все рубрики') }}

        <div class="grid three swiper-rubric">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ rubric.item('Лидерство') }}
                    {{ rubric.item('Маркетинг') }}
                    {{ rubric.item('Творческий потенциал в компании') }}
                    {{ rubric.item('Благополучие компании') }}
                </div>
                <div class="swiper-slide">
                    {{ rubric.item('Менеджмент') }}
                    {{ rubric.item('Творческий потенциал в компании') }}
                    {{ rubric.item('HR бренд') }}
                    {{ rubric.item('Карьера') }}
                </div>

                <div class="swiper-slide">
                    {{ rubric.item('Творческий потенциал в компании') }}
                    {{ rubric.item('HR') }}
                    {{ rubric.item('Маркетинг') }}
                    {{ rubric.item('Пульс опросы') }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section mobile">
    <div class="container">
        {{ title.item('fire', 'Что новенького?', 'Все', 'red') }}
        <div class="sidebar-vacancy">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{ vacancy.item('HR менеджер (стажер) в компанию аналитики и финансов ') }}
                </div>
                <div class="swiper-slide">
                    {{ vacancy.item('HR менеджер (стажер) в компанию ') }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section content">
    <div class="container">
        <div class="content__main">
            {{ title.item('case', 'Вакансии и стажировки', 'Все вакансии') }}
            <div class="grid three swiper-vacancy">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                    <div class="swiper-slide">{% include "template/vacancy.html" %}</div>
                </div>
            </div>
        </div>
        <div class="sidebar right">
            {{ title.item('fire', 'Что новенького?', '', 'red') }}
            <div class="sidebar-vacancy">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{ vacancy.item('HR менеджер (стажер) в компанию аналитики и финансов ') }}
                    </div>
                    <div class="swiper-slide">
                        {{ vacancy.item('HR менеджер (стажер) в компанию ') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "template/work.html" %}

<section class="section content">
    <div class="container">
        <div class="sidebar left">
            {{ title.item('sale', 'Акции', '', 'red') }}
            {% include "template/stock.html" %}
            {% include "template/stock.html" %}
        </div>
        <div class="content__main">
            {{ title.item('mac', 'Решения для автоматизации (HR IT)', 'Все решения') }}
            <div class="grid two">
                {% include "template/solve.html" %}
                {% include "template/solve.html" %}
                {% include "template/solve.html" %}
                {% include "template/solve.html" %}
            </div>
        </div>
        <div class="sidebar right">
            {{ title.item('puzzle', 'Тесты', '') }}
            <div class="sidebar-tests">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {% include "template/survey.html" %}
                    </div>
                    <div class="swiper-slide">
                        {% include "template/survey.html" %}
                    </div>
                    <div class="swiper-slide">
                        {% include "template/survey.html" %}
                    </div>
                    <div class="swiper-slide">
                        {% include "template/survey.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section mobile">
    <div class="container">
        {{ title.item('sale', 'Акции', 'Все акции', 'red') }}
        <div class="swiper swiper-stock">
            <div class="swiper-wrapper">
                <div class="swiper-slide">{% include "template/stock.html" %}</div>
                <div class="swiper-slide">{% include "template/stock.html" %}</div>
                <div class="swiper-slide">{% include "template/stock.html" %}</div>
                <div class="swiper-slide">{% include "template/stock.html" %}</div>
            </div>
        </div>
    </div>
</section>

<section class="section mobile">
    <div class="container">
        {{ title.item('puzzle', 'Тесты', '') }}
        <div class="sidebar-tests">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include "template/survey.html" %}
                </div>
                <div class="swiper-slide">
                    {% include "template/survey.html" %}
                </div>
                <div class="swiper-slide">
                    {% include "template/survey.html" %}
                </div>
                <div class="swiper-slide">
                    {% include "template/survey.html" %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {{ title.item('book', 'Магазин книг', 'Все книги') }}

        <div class="grid six swiper-books">
            <div class="swiper-wrapper">
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {{ title.item('book', 'Полезные материалы, руководства и&nbsp;гайды', 'Все материалы') }}

        <div class="grid six swiper-books">
            <div class="swiper-wrapper">
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
                <div class="swiper-slide">{% include "template/book.html" %}</div>
            </div>
        </div>
    </div>
</section>

{% include "template/footer.html" %}