{% include "template/header.html" %}

{% import "template/sidebar/banner.html" as banner %}
{% import "template/sidebar/time.html" as time %}
{% import "template/title.html" as title %}
{% import "template/expert.html" as expert %}
{% import "template/vacancy-item.html" as vacancy %}

<section class="content">
    <div class="container">
        <div class="sidebar left">
            {% include "template/sidebar/menu.html" %}
            {{ banner.item('banner.png', 'Рекламный баннер') }}

            <h2>Акции</h2>
            {% include "template/stock.html" %}
            {% include "template/stock.html" %}

            <h2>Книги</h2>
            {% include "template/book.html" %}

            <h2>Материалы</h2>
            {% include "template/book.html" %}
            {% include "template/book.html" %}
        </div>
        <div class="content__main">
            <div class="breadcrumbs">
                <a href="javascript:void(0)"><span>Главная</span></a>
                <a href="javascript:void(0)"><span>Материалы и гайды</span></a>
            </div>

            {% include "template/triggers.html" %}

            <h1 class="h2">Каталог товаров</h1>

            <div class="border-block product">
                <img src="img/book2.png" alt="" class="product__img">
                <div class="product__info">
                    <div class="product__name">Дюна. Мессия дюны дети дюны. Автор <br> Фрэнк Герберт</div>
                    <div class="product__code">Артикул: 23456</div>
                    <div class="stars rating" data-count="4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.2 14">
                            <g class="active" data-star="1">
                                <path class="st0"
                                    d="M14.9 5.3l-5-.7L7.6 0 5.4 4.6l-5 .7L4 8.9 3.1 14l4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9L2 5.8l3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M9.6 5L7.6.9 5.6 5l-4.4.6 3.2 3.2-.7 4.5 3.9-2.1 4 2.1-.8-4.5 3.3-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="2">
                                <path class="st0"
                                    d="M33 5.3l-5-.7L25.7 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1L33 5.3zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M27.7 5l-2-4.1-2 4.1-4.4.6 3.2 3.2-.8 4.5 4-2.1 4 2.1-.8-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="3">
                                <path class="st0"
                                    d="M51.1 5.3l-5-.7L43.8 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M45.8 5l-2-4.1-2 4.1-4.4.6 3.2 3.2-.8 4.5 4-2.1 4 2.1-.8-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="4">
                                <path class="st0"
                                    d="M69.2 5.3l-5-.7L61.9 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M63.8 5L61.9.9l-2 4.1-4.5.6 3.2 3.2-.7 4.5 4-2.1 3.9 2.1-.7-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g data-star="5">
                                <path class="st0"
                                    d="M87.2 5.3l-5-.7L79.9 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M81.8 5L79.9.9l-2 4.1-4.5.6 3.2 3.2-.7 4.5 4-2.1 3.9 2.1-.7-4.5 3.2-3.2z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <div class="item__bottom">
                        <div class="item__bottom-item">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-eye"></use>
                            </svg>
                            268
                        </div>
                        <div class="item__bottom-item like-parent">
                            <div class="like"></div>
                            2688
                        </div>
                    </div>
                    <div class="checkbox center">
                        <label for="c1">В избранное</label>
                        <input type="checkbox" id="c1">
                    </div>
                    <div class="product__controls">
                        <div class="product__price">11 499 ₽ <span>1 499</span></div>
                        <a href="javascript:void(0)" class="btn" data-modal="success">Купить</a>
                    </div>
                    <div class="social line gray">
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-fb-square"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-vk"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a>
                        <a href="javascript:void(0)">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="tabs">
                <a href="javascript:void(0)" class="active" data-tab="features">Характеристика</a>
                <a href="javascript:void(0)" data-tab="reviews">Отзывы</a>
                <div class="bar"></div>
            </div>


            <div class="tab mb-130 active" data-tab="features">
                <h3>Описание</h3>
                <p>Roistat обеспечивает максимальную защиту ваших данных. Сервис расположен на множестве серверов в
                    разных странах мира для большей надежности и обеспечения сохранности данных. Roistat обеспечивает
                    максимальную защиту ваших данных. Сервис расположен на множестве серверов в разных странах мира для
                    большей надежности и обеспечения сохранности данных. Roistat обеспечивает максимальную защиту ваших
                </p>

                <ul class="dot">
                    <li>Нужно оптимизировать рекламу в Директе.</li>
                    <li>Если можно добавить больше эффективного трафика в Google за счет низкоэффективного в Яндексе,
                        нужно уже сейчас изменить структуру бюджета по площадкам.</li>
                    <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно по каждому
                        элементу: картинке, тексту, призыву к действию.</li>
                    <li>Если проблема с кампаниями в сетях, нужно поработать над публикациями отдельно </li>
                </ul>
            </div>
            <div class="tab mb-130" data-tab="reviews">
                <h3>Отзывы</h3>
                {% include "template/comment.html" %}
            </div>
        </div>
        <div class="sidebar right">
            {% include "template/sidebar/social.html" %}
            {{ time.item('Нет времени читать?', '', 'Отправить PDF на почту')}}

            {{ title.item('', 'Будет полезно:', 'Все') }}
            <div class="sidebar-border">
                {{ expert.item('user1.png', 'Александр Нежельский') }}
                {{ expert.item('user2.png', 'Александр Нежельский') }}
            </div>

            {{ banner.item('banner2.png', 'Рекламный <br> баннер 2', 'type') }}
            {{ banner.item('banner2.png', 'Рекламный <br> баннер 2', 'type') }}

            {{ title.item('', 'Вакансии', 'Все') }}
            {% include "template/vacancy.html" %}
            {{ vacancy.item('HR менеджер (стажер) в компанию аналитики и финансов ') }}

            <h2>Тесты</h2>
            {% include "template/survey.html" %}
        </div>
    </div>
</section>

{% include "template/footer.html" %}