{% include "template/header.html" %}

{% import "template/title.html" as title %}
{% import "template/sidebar/subscribe.html" as subscribe %}

<section class="section pd">
    <div class="container">
        <div class="breadcrumbs">
            <a href="javascript:void(0)"><span>Главная</span></a>
            <a href="javascript:void(0)"><span>Статьи</span></a>
            <a href="javascript:void(0)"><span>Словарь</span></a>
        </div>

        <h1 class="h2">Результаты поиска</h1>

        <div class="dictionary__search">
            <div class="input">
                <input type="text" placeholder="Поиск по терминам и определениям">
                <button>
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
            </div>
            <button class="btn">Найти</button>
        </div>

        <div class="result__desc">Найдено 150 результатов</div>

        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>
        <a href="javascript:void(0)" class="result__item">
            <span> Что такое интернет вещей: принцип работы и примеры использования</span>
            Согласно методическим рекомендациям Минздрава России разрешена повторная вакцинация граждан от коронавируса.
            У жителей Москвы такая возможность появилась 1 июля. Повторная вакцинация доступна для…
        </a>

        {% include "template/pagination.html" %}

    </div>
</section>

{% include "template/footer.html" %}