{% include "template/header.html" %}

<section class="section login">
    <div class="container">
        <h1 class="h2">Верификация</h1>
        <p>Нужно перейти в почту <strong>почтапочта@mail.ru</strong> верификации <br>
            подтверждения своего email адреса </p>

        <div class="links">
            <a href="javascript:void(0)">Ввели неверный Email?</a>
            <a href="javascript:void(0)">Нужна помощь в верификациии моей почты</a>
        </div>

        <h4>Проверить почту:</h4>

        <div class="email">
            <a href="javascript:void(0)" class="red"><img src="img/gmail.svg" alt=""></a>
            <a href="javascript:void(0)" class="blue"><img src="img/mail.svg" alt=""></a>
            <a href="javascript:void(0)" class="red"><img src="img/yandex.svg" alt=""></a>
            <a href="javascript:void(0)" class="blue"><img src="img/rambler.svg" alt=""></a>
        </div>
    </div>
</section>

{% include "template/footer.html" %}