{% include "template/header.html" %}

{% import "template/sidebar/banner.html" as banner %}
{% import "template/sidebar/time.html" as time %}
{% import "template/item.html" as item %}
{% import "template/title.html" as title %}
{% import "template/expert.html" as expert %}
{% import "template/article.html" as article %}
{% import "template/vacancy-item.html" as vacancy %}

<section class="content">
    <div class="container">
        <div class="sidebar left">
            {% include "template/sidebar/menu.html" %}
            {{ banner.item('banner.png', 'Рекламный баннер') }}

            <h2>Акции</h2>
            {% include "template/stock.html" %}
            {% include "template/stock.html" %}

            <h2>Книги</h2>
            {% include "template/book.html" %}

            <h2>Материалы</h2>
            {% include "template/book.html" %}
            {% include "template/book.html" %}
            {% include "template/book.html" %}
        </div>
        <div class="content__main">
            <div class="breadcrumbs">
                <a href="javascript:void(0)"><span>Главная</span></a>
                <a href="javascript:void(0)"><span>Статьи</span></a>
            </div>

            {% include "template/triggers.html" %}

            <h1 class="h2">Оценка и снижение нежелательной текучести в организации</h1>

            <div class="article__features video-features">
                <div class="rating">
                    <div class="stars rating" style="width: 135px;" data-count="4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.2 14">
                            <g class="active" data-star="1">
                                <path class="st0"
                                    d="M14.9 5.3l-5-.7L7.6 0 5.4 4.6l-5 .7L4 8.9 3.1 14l4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9L2 5.8l3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M9.6 5L7.6.9 5.6 5l-4.4.6 3.2 3.2-.7 4.5 3.9-2.1 4 2.1-.8-4.5 3.3-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="2">
                                <path class="st0"
                                    d="M33 5.3l-5-.7L25.7 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1L33 5.3zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M27.7 5l-2-4.1-2 4.1-4.4.6 3.2 3.2-.8 4.5 4-2.1 4 2.1-.8-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="3">
                                <path class="st0"
                                    d="M51.1 5.3l-5-.7L43.8 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M45.8 5l-2-4.1-2 4.1-4.4.6 3.2 3.2-.8 4.5 4-2.1 4 2.1-.8-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g class="active" data-star="4">
                                <path class="st0"
                                    d="M69.2 5.3l-5-.7L61.9 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M63.8 5L61.9.9l-2 4.1-4.5.6 3.2 3.2-.7 4.5 4-2.1 3.9 2.1-.7-4.5 3.2-3.2z">
                                </path>
                            </g>
                            <g data-star="5">
                                <path class="st0"
                                    d="M87.2 5.3l-5-.7L79.9 0l-2.2 4.6-5 .7 3.6 3.6-.9 5.1 4.5-2.4 4.5 2.4-.9-5.1 3.7-3.6zm-7.3 5.4l-3.5 1.8.7-3.9-2.8-2.8 3.9-.5 1.7-3.6 1.7 3.6 3.9.6-2.8 2.8.7 3.9-3.5-1.9z">
                                </path>
                                <path class="st0"
                                    d="M81.8 5L79.9.9l-2 4.1-4.5.6 3.2 3.2-.7 4.5 4-2.1 3.9 2.1-.7-4.5 3.2-3.2z">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <span>Средняя оценка: <strong>5</strong></span>
                </div>

                <div>
                    <div class="item__bottom">
                        <div class="item__bottom-item">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-eye"></use>
                            </svg>
                            268
                        </div>
                        <div class="item__bottom-item">
                            <svg class="icon">
                                <use xlink:href="img/symbol-defs.svg#icon-message"></use>
                            </svg>
                            26
                        </div>
                        <div class="item__bottom-item like-parent">
                            <div class="like"></div>
                            2688
                        </div>
                    </div>
                    <div class="checkbox center">
                        <label for="c1">В избранное</label>
                        <input type="checkbox" id="c1">
                    </div>
                </div>

                <div class="social line gray">
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-fb-square"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-vk"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <iframe width="100%" height="420" src="https://www.youtube.com/embed/SHniorJLQSo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <p>Рост нежелательной текучести сотрудников – частая проблема в организациях. Согласно исследованиям Gallup,
                замена одного ушедшего сотрудника может обойтись организации в сумму от 5 до 24 его месячных окладов.
            </p>
            <p>Рост нежелательной текучести сотрудников – частая проблема в организациях. Согласно исследованиям Gallup,
                замена одного ушедшего сотрудника может обойтись организации в сумму от 5 до 24 его месячных окладов.
            </p>
            <p>Рост нежелательной текучести сотрудников – частая проблема в организациях. Согласно исследованиям Gallup,
                замена одного ушедшего сотрудника может обойтись организации в сумму от 5 до 24 его месячных окладов.
            </p>

            <div class="article__pagination center">
                <a href="javascript:void(0)" class="btn" scrollto="">
                    Обсудить видео ролик

                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-right"></use>
                    </svg>
                </a>
            </div>

            <div class="divider"></div>

            <h2>Рекомендуем посмотреть</h2>

            <div class="grid two">
                {{ article.item('s1.png', '3 вида биржевых трафиков как их читать и использовать при
                инвестирировании')}}
                {{ article.item('s2.png', '3 вида биржевых трафиков как их читать и использовать при ')}}
                {{ article.item('s3.png', 'Двуличный kpi как правильные показатели приводят к неправильным выводам')}}
                {{ article.item('s4.png', '3 вида биржевых трафиков как их читать и использовать при
                инвестирировании')}}
            </div>

            <div class="divider"></div>

            {% include "template/comment.html" %}
        </div>
        <div class="sidebar right">
            {{ time.item('Хотите получать вакансии этой рубрики? ', 'Первыми получайте новые видео ролики и курсы в
            сфере HR индустрии', 'Подписаться', 'purple')}}

            {{ title.item('', 'Мероприятия', 'Все') }}
            {{ item.item('конференция', 'price', '', '', '25 000 ₽', 'a5.png', 'Тренинг “Запуск своего собственного
            онлайн-проекта', 'tags-2', 'online', 'user1.png', 'Ассоциация <br> HR-специалистов Москвы')}}

            {{ title.item('', 'Вакансии', 'Все') }}
            {% include "template/vacancy.html" %}
            {{ vacancy.item('HR менеджер (стажер) в компанию аналитики и финансов ') }}
            {{ vacancy.item('HR менеджер (стажер) в компанию ') }}

            <h2>Тесты</h2>
            {% include "template/survey.html" %}
            {% include "template/survey.html" %}
        </div>
    </div>
</section>

{% include "template/footer.html" %}