<div class="filter">
    <div class="filter__item">
        <div class="filter__search">
            <div class="input">
                <input type="text" placeholder="Поиск">
                <button>
                    <svg class="icon">
                        <use xlink:href="img/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="filter__item">
        <div class="filter__title">Рубрики</div>
        <div class="filter__link">Кадровое делопроизводство</div>
        <div class="filter__link">Трудовое право</div>
        <div class="filter__link">Вовлечённость</div>
        <div class="filter__link">Выгорание</div>
        <div class="filter__link">Аналитика талантов</div>
        <div class="filter__link">Онлайн-оценка</div>
        <div class="filter__link">Кадровое планирование</div>
        <div class="filter__link">Кадрвый резерв</div>
        <div class="filter__link">Подбор соискателей</div>
        <div class="filter__link">Отбор кандидатов</div>
        <div class="hide">
            <div class="filter__link">Выгорание</div>
            <div class="filter__link">Аналитика талантов</div>
            <div class="filter__link">Онлайн-оценка</div>
            <div class="filter__link">Кадровое планирование</div>
            <div class="filter__link">Кадрвый резерв</div>
            <div class="filter__link">Подбор соискателей</div>
            <div class="filter__link">Отбор кандидатов</div>
        </div>
        <div class="toggle">
            Показать все
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-right"></use>
            </svg>
        </div>
    </div>
    <div class="filter__item">
        <div class="filter__title">Отрасль/Ниша</div>
        <div class="checkbox center">
            <input type="checkbox" id="check1">
            <label for="check1">Полная</label>
        </div>
        <div class="checkbox center">
            <input type="checkbox" id="check2">
            <label for="check2">Неполная</label>
        </div>
    </div>
    <div class="filter__item">
        <div class="filter__title">Зарплата</div>
        <div class="radio">
            <input type="radio" name="radioo" id="radio1">
            <label for="radio1">От 45 000 руб.</label>
        </div>
        <div class="radio">
            <input type="radio" name="radioo" id="radio2">
            <label for="radio2">От 55 000 руб.</label>
        </div>
    </div>
    <div class="filter__count">
        <span>Найдено: 15</span>
        <button class="btn">Подобрать</button>
    </div>
</div>