<div class="social">
    <div class="sidebar__title">
        Подпишись на нас
        <div class="circle">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-arrow-down"></use>
            </svg>
        </div>
    </div>

    <div class="social__list">
        <a href="javascript:void(0)" style="background-color: #4183FF;">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-fb-square"></use>
            </svg>
            200 <br>
            подписок
        </a>
        <a href="javascript:void(0)" style="background-color: #0077FF;">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-vk"></use>
            </svg>
            200 <br>
            подписок
        </a>
        <a href="javascript:void(0)" style="background-color: #EE5143;">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-youtube"></use>
            </svg>
            200 <br>
            подписок
        </a>
        <a href="javascript:void(0)" style="background-color: #8145C3;">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-inst"></use>
            </svg>
            200 <br>
            подписок
        </a>
        <a href="javascript:void(0)" style="background-color: #42C0F5;">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-twitter"></use>
            </svg>
            200 <br>
            подписок
        </a>
        <a href="javascript:void(0)" style="background-color: #1DA1F1;">
            <svg class="icon">
                <use xlink:href="img/symbol-defs.svg#icon-telegram"></use>
            </svg>
            200 <br>
            подписок
        </a>
    </div>
</div>